/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold 14px/30px "KoHo", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/*------------------------------
            common
------------------------------*/
/* fonts */
.eng {
  font-family: "Pacifico", cursive;
}

.kor {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  font-family: "KoHo", sans-serif;
}

input[type="text"] {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

input[type="text"]:focus {
  outline: 1px solid #9d61d8;
}

::-moz-selection {
  background: #9d61d8;
  color: #fff;
}

::selection {
  background: #9d61d8;
  color: #fff;
}

.hidden {
  display: none;
}

/* scrollbar */
body::-webkit-scrollbar,
#wrapper::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
#wrapper::-webkit-scrollbar-thumb {
  background-color: #9d61d8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

body::-webkit-scrollbar-track,
#wrapper::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

/*------------------------------
            body-background
------------------------------*/
body {
  background-repeat: repeat-y;
  background-position: top center;
  background-color: #9d61d8;
  background-size: cover;
  -webkit-transition: background-image 4s;
  transition: background-image 4s;
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(52, 0, 126, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #6704b5 0%, #34007e 0%, #7400d4 33%, #7400d4 58%, #34007e 100%);
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .textbox {
  text-align: center;
}

.loader .textbox img {
  width: 20%;
  opacity: 0;
  -webkit-animation-name: visualAnimation;
          animation-name: visualAnimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .textbox p {
  font-size: 60px;
  margin-top: 60px;
  color: #fff;
  opacity: 0;
  -webkit-animation-name: visualAnimation;
          animation-name: visualAnimation;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes visualAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visualAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------
            audio
------------------------------*/
audio {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
}

/*------------------------------
            clock
------------------------------*/
#clock {
  color: #fff;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

#clock span {
  font-size: 3em;
  margin-right: 10px;
}

#clock h2 {
  font-size: 2.8em;
}

#clock p {
  width: 100%;
  font-size: 2em;
  margin-top: 10px;
}

/*------------------------------
            login
------------------------------*/
.login-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.login-wrapper .login-form h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 2.4em;
  line-height: normal;
  text-align: center;
}

.login-wrapper .login-form input#btn {
  cursor: pointer;
  border: 1px solid #9d61d8;
  text-align: center;
  font-size: 1.2em;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  background: #9d61d8;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  width: 100%;
}

.login-wrapper #greeting {
  color: #fff;
  font-size: 3em;
  text-align: center;
}

.login-wrapper #greeting span {
  display: block;
  font-size: 0.7em;
  padding: 1rem 0 0;
}

/*------------------------------
            weather
------------------------------*/
#weather {
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  text-align: center;
  margin: 0 auto 2rem;
  border-radius: 5px;
  padding: 10px;
}

#weather span {
  position: relative;
  font-size: 16px;
}

#weather span:first-child:before {
  content: "thermostat";
  font-family: "Material Icons";
  vertical-align: bottom;
}

#weather span:last-child:before {
  content: "location_on";
  font-family: "Material Icons";
  vertical-align: bottom;
  margin-left: 20px;
}

/*------------------------------
            todo list
------------------------------*/
#wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 4rem auto 4rem;
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  /* list */
}

#wrapper #todo-form h3 {
  color: #000;
  font-size: 2.4em;
  margin-bottom: 2rem;
  position: relative;
}

#wrapper #todo-form h3::before {
  content: "view_list";
  font-family: "Material Icons";
  font-size: 1.4em;
  vertical-align: bottom;
  margin-right: 10px;
}

#wrapper #todo-form .todo-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#wrapper #todo-form .todo-form__input input[type="text"] {
  width: 100%;
}

#wrapper #todo-form .todo-form__input #todo-btn {
  cursor: pointer;
  border: 1px solid #9d61d8;
  text-align: center;
  font-size: 1.2em;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  background: #9d61d8;
  color: #fff;
  text-transform: uppercase;
}

#wrapper .todo-list {
  margin-top: 20px;
}

#wrapper .todo-list p {
  display: none;
}

#wrapper .todo-list #todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper .todo-list #todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #9d61d8;
}

#wrapper .todo-list #todo-list li span {
  display: block;
  width: 80%;
  word-break: break-all;
}

#wrapper .todo-list #todo-list li .delete-btn {
  cursor: pointer;
  font-family: "Material Icons";
  border: 1px solid #9d61d8;
  border-radius: 5px;
  background: #9d61d8;
  color: #fff;
  width: 32px;
  height: 32px;
}

#wrapper .todo-list #todo-list li .check-btn {
  cursor: pointer;
  color: #fff;
  font-size: 0;
  background: #fff;
  border: 1px solid #9d61d8;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

#wrapper .todo-list #todo-list li.check .check-btn {
  position: relative;
  border: 1px solid #c4a7db;
}

#wrapper .todo-list #todo-list li.check .check-btn::before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  content: "";
  background: #c4a7db;
}

#wrapper .todo-list #todo-list li.check .check-btn::after {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "check";
  font-family: "Material Icons";
  color: #fff;
  font-size: 20px;
}

#wrapper .todo-list #todo-list li.check span {
  color: #9d61d8;
  font-style: italic;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 0;
  text-align: center;
  padding-top: 2rem;
}

footer #quotes {
  border-top: 1px solid #fff;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
}

footer #quotes span {
  font-size: 16px;
  display: block;
  line-height: 24px;
}

footer small {
  display: block;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 1025px) {
  body {
    height: 100vh;
  }
  audio {
    max-width: 20%;
    position: absolute;
    left: 1%;
    bottom: 2%;
    padding: 0;
  }
  #weather {
    width: 20%;
    position: absolute;
    right: 1%;
    top: 1%;
    margin-bottom: 0;
  }
  #weather span {
    display: inline-block;
  }
  #clock {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1%;
    left: 1%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  #clock p {
    font-size: 2.1em;
  }
  .login-wrapper {
    padding: 100px 0 0;
    max-width: 1200px;
  }
  .login-wrapper .login-form .login-form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-wrapper .login-form .login-form__input input[type="text"] {
    width: 79%;
  }
  .login-wrapper .login-form .login-form__input input#btn {
    width: 20%;
    margin-top: 0;
  }
  .login-wrapper #greeting {
    font-size: 5em;
  }
  .login-wrapper #greeting span {
    padding-top: 3rem;
  }
  .login-wrapper h2 {
    font-size: 3em;
    line-height: normal;
    text-align: center;
  }
  #wrapper {
    height: 50vh;
    overflow-y: scroll;
  }
  #wrapper .todo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #wrapper .todo-list #todo-list {
    width: 68%;
  }
  #wrapper .todo-list #todo-list li {
    width: 48%;
  }
  #wrapper .todo-list p {
    display: block;
    width: 30%;
  }
  #wrapper .todo-list p img {
    border-radius: 10px;
  }
  footer {
    padding-top: 0;
  }
}
