/*------------------------------
            audio
------------------------------*/
audio {
  @include basicWidth;
  position: relative;
  padding: 1rem 2rem;
}

/*------------------------------
            clock
------------------------------*/
#clock {
  color: $white;
  padding: 2rem;
  text-align: center;
  @include flexbox($flexW: wrap);
  font-weight: bold;

  span {
    font-size: 3em;
    margin-right: 10px;
  }

  h2 {
    font-size: 2.8em;
  }

  p {
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
  }
}

/*------------------------------
            login
------------------------------*/
.login-wrapper {
  @include basicWidth();
  margin: 0 auto;
  padding: 2rem;

  .login-form {
    h2 {
      margin-bottom: 10px;
      color: #fff;
      font-size: 2.4em;
      line-height: normal;
      text-align: center;
    }

    input#btn {
      @include btn;
      margin-top: 10px;
      width: 100%;
    }
  }

  #greeting {
    color: $white;
    font-size: 3em;
    text-align: center;

    span {
      display: block;
      font-size: 0.7em;
      padding: 1rem 0 0;
    }
  }
}

/*------------------------------
            weather
------------------------------*/

#weather {
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  text-align: center;
  margin: 0 auto 2rem;
  border-radius: 5px;
  padding: 10px;

  span {
    position: relative;
    font-size: 16px;

    &:first-child:before {
      content: "thermostat";
      font-family: $material;
      vertical-align: bottom;
    }
    &:last-child:before {
      content: "location_on";
      font-family: $material;
      vertical-align: bottom;
      margin-left: 20px;
    }
  }
}

/*------------------------------
            todo list
------------------------------*/

#wrapper {
  @include basicWidth($mt: 4rem, $mb: 4rem, $w: 90%);
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

  #todo-form {
    h3 {
      color: $black;
      font-size: 2.4em;
      margin-bottom: 2rem;
      position: relative;

      &::before {
        content: "view_list";
        font-family: $material;
        font-size: 1.4em;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
    .todo-form__input {
      @include flexbox($flexAI: flex-start);

      input[type="text"] {
        width: 100%;
      }

      #todo-btn {
        @include btn;
      }
    }
  }

  /* list */
  .todo-list {
    margin-top: 20px;

    p {
      display: none;
    }

    #todo-list {
      @include flexbox($flexJC: space-between, $flexW: wrap);

      li {
        @include flexbox($flexJC: space-between);
        width: 100%;
        font-size: 16px;
        text-align: left;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed $mainColor;

        span {
          display: block;
          width: 80%;
          word-break: break-all;
        }

        .delete-btn {
          cursor: pointer;
          font-family: $material;
          border: 1px solid $mainColor;
          border-radius: 5px;
          background: $mainColor;
          color: $white;
          width: $checkSize;
          height: $checkSize;
        }

        .check-btn {
          cursor: pointer;
          color: $white;
          font-size: 0;
          background: $white;
          border: 1px solid $mainColor;
          border-radius: 5px;
          width: $checkSize;
          height: $checkSize;
          overflow: hidden;
        }

        // check button cliclk
        &.check {
          .check-btn {
            position: relative;
            border: 1px solid $subColor;

            &::before {
              @include checkClick;
              content: "";
              background: $subColor;
            }

            &::after {
              @include checkClick;
              @include flexbox;
              content: "check";
              font-family: $material;
              color: $white;
              font-size: 20px;
            }
          }

          span {
            color: $mainColor;
            font-style: italic;
            text-decoration-line: line-through;
          }
        }
      }
    }
  }
}

//
//
// footer
//
footer {
  @include basicWidth($mw: 100%);
  padding-top: 2rem;

  #quotes {
    border-top: 1px solid $white;
    width: 100%;
    text-align: center;
    color: $white;
    padding: 10px 20px;

    span {
      font-size: 16px;
      display: block;

      line-height: 24px;
    }
  }

  small {
    display: block;
    text-align: center;
    color: $white;
  }
}
