@media screen and (min-width: 1025px) {
  body {
    height: 100vh;
  }

  audio {
    max-width: 20%;
    position: absolute;
    left: 1%;
    bottom: 2%;
    padding: 0;
  }

  #weather {
    width: 20%;
    position: absolute;
    right: 1%;
    top: 1%;
    margin-bottom: 0;

    span {
      display: inline-block;
    }
  }

  #clock {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1%;
    left: 1%;
    justify-content: flex-start;
    text-align: left;

    p {
      font-size: 2.1em;
    }
  }

  .login-wrapper {
    padding: 100px 0 0;
    max-width: 1200px;

    .login-form {
      .login-form__input {
        @include flexbox($flexJC: space-between);

        input {
          &[type="text"] {
            width: 79%;
          }
          &#btn {
            width: 20%;
            margin-top: 0;
          }
        }
      }
    }

    #greeting {
      font-size: 5em;

      span {
        padding-top: 3rem;
      }
    }

    h2 {
      font-size: 3em;
      line-height: normal;
      text-align: center;
    }
  }

  #wrapper {
    height: 50vh;
    overflow-y: scroll;

    .todo-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      #todo-list {
        width: 68%;

        li {
          width: 48%;
        }
      }

      p {
        display: block;
        width: 30%;

        img {
          border-radius: 10px;
        }
      }
    }
  }

  footer {
    padding-top: 0;
  }
}
