@media screen and (min-width: 768px) {
  input[type="text"] {
    width: 70%;
  }
  .login-form input#btn {
    width: 29%;
  }
  #wrapper {
    height: 300px;
  }
  input[type="submit"],
  button {
    cursor: pointer;
  }
  .login-wrapper h2 {
    display: block;
    color: #fff;
    font-size: 2.4em;
    line-height: normal;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  #greeting {
    font-size: 70px;
    margin: 0;
    line-height: normal;
  }

  #weather {
    width: 20%;
    position: absolute;
    right: 1%;
    top: 1%;
    margin-bottom: 0;
  }
  #weather span {
    display: inline-block;
  }

  #clock {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1%;
    left: 1%;
    justify-content: flex-start;
    text-align: left;
  }
  #clock p {
    font-size: 2.1em;
  }

  .login-wrapper {
    padding: 100px 0 0;
    max-width: 1200px;
  }
  .login-wrapper h2 {
    font-size: 3em;
    line-height: normal;
    text-align: center;
  }

  #wrapper {
    max-width: 1200px;
    height: 550px;
  }
  .todo-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .todo-list p {
    display: block;
    width: 30%;
    margin-top: 20px;
  }
  .todo-list p img {
    border-radius: 10px;
  }
  #wrapper #todo-list {
    width: 69%;
  }

  audio {
    position: absolute;
    top: auto;
    bottom: 1%;
    left: 1%;
    transform: translateX(0);
  }

  /* scrollbar */
  #wrapper::-webkit-scrollbar {
    width: 8px;
  }
  #wrapper::-webkit-scrollbar-thumb {
    background-color: #9d61d8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  #wrapper::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
  }
}
